<div class="ion-page" #page>



  <ion-header [translucent]="true">
    <ion-toolbar class="transparent-toolbar">
      <ion-title class="logo-container">
        <img src="assets/images/kvlogofinal.png" alt="KV Logo" />
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">


    <!-- Collapsing Image -->
    <div class="collapsing-image" [style.height.px]="bannerHeight">
      <img src="assets/images/imgbanner.png" alt="Wedding Banner" />
    </div>

    <!-- <ion-header collapse=" condense">
      <ion-toolbar>
        <h2 style=" text-align: center;"><strong>K</strong>amille & <strong>V</strong>larix</h2>

      </ion-toolbar>
    </ion-header> -->



    <!-- Main Content -->
    <div class="main-content ion-padding">
      <p>
        Thank you for joining us to celebrate! Scroll to see the details!
      </p>


      <!-- Event Details Card -->
      <ion-card>
        <ion-card-header>

          <p>You are one of the chosen few that are invited to our wedding. Thank you so much for being part of our
            lives and we hope you can come!
          </p>

          <ion-card-title>Event Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Date:</strong> December 18, 2026</p>
          <p><strong>Church:</strong> Our Mother of Perpetual Help Parish - Redemptorist Church</p>
          <p><strong>Reception:</strong> Waterfront Insular Hotel Davao</p>
          <div>
            <p><strong>Dress Code:</strong> Formal Long Dress for the Ladies</p>
            <p>Longsleeves Barong for the Men</p>
          </div>


          <ion-grid class="ion-text-center no-padding">
            <ion-row class="ion-justify-content-center circle-row">
              <ion-col size="auto" class="no-padding">
                <div class="circle" style="background: #A3B18A;"></div>
              </ion-col>
              <ion-col size="auto" class="no-padding">
                <div class="circle" style="background: #A0AFB7;"></div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <br>

          <!-- todo center -->

          <!-- <p style="font-weight:600">Please reserve this color for the
            family</p> -->


          <ion-grid class="ion-text-center no-padding">
            <ion-row class="ion-justify-content-center circle-row">
              <ion-col size="auto" class="no-padding">
                <div class="circle" style="background: #F7E6CA;"></div>
              </ion-col>
              <ion-col size="auto" class="no-padding">
                <div class="circle" style="background: #fff;"></div>
              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-card-content>
      </ion-card>

      <!-- Other Info Card -->

      <ion-card>
        <ion-card-header>
          <ion-card-title>Entourage</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="entourage-container">

            <!-- Parents -->
            <ion-row>
              <ion-col size="12" class="section-title">
                With the Blessing of Our Parents
              </ion-col>

              <ion-col size="6" class="center">
                <p>Ma. Cristina Samarista</p>
                <p>Grzegorz Jozef Mazur</p>
                <p>Vladimir Samarista</p>
              </ion-col>

              <ion-col size="6" class="center">
                <p>Marietta Vargas</p>
                <p>Emmanuel Vargas</p>
              </ion-col>
            </ion-row>

            <!-- Sponsors -->
            <ion-row>
              <ion-col size="12" class="section-title">Principal Sponsors</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6" class="center">
                <p>Vanessa Leonardo</p>
                <p>Armando Leonardo</p>
                <p>Rose Pablo</p>
                <p>Neneth Duque</p>
                <p>Michelle Andal</p>
                <p>Victor Mallari</p>
              </ion-col>

              <ion-col size="6" class="center">
                <p>Maria Lourdes Bantilan</p>
                <p>Anton Vargas</p>
                <p>Atty. Genevive Brandares–Paulino</p>
                <p>Bernadette Aves</p>
                <p>Marylen Reyes Gan</p>
              </ion-col>
            </ion-row>

            <!-- Best Men -->
            <ion-row>
              <ion-col size="12" class="section-title">Best Men</ion-col>
              <ion-col size="12" class="center">
                <p>Youvan Espina</p>
                <p>Mikael Lagon</p>
                <p>Melque Estoqia</p>
                <p>Kieth Jumaani</p>
                <p>Gamaliel Berdin</p>
              </ion-col>
            </ion-row>

            <!-- Honor -->
            <ion-row>
              <ion-col size="6" class="section-title">Maid of Honor</ion-col>
              <ion-col size="6" class="section-title">Matron of Honor</ion-col>

              <ion-col size="6" class="center">
                <p>Ma. Alexandra Czarina Bocobo</p>
              </ion-col>
              <ion-col size="6" class="center">
                <p>Kyrstynne Angela Vargas–Getubig</p>
              </ion-col>
            </ion-row>

            <!-- Bridesmaids -->
            <ion-row>
              <ion-col size="12" class="section-title">Bridesmaids</ion-col>
              <ion-col size="12" class="center">
                <p>Kyle Briana Vargas</p>
                <p>Janica Letisha Pedenes</p>
                <p>Francine Ludo</p>
                <p>Dianne Lim</p>
                <p>Reeka Cruz</p>
              </ion-col>
            </ion-row>

            <!-- Flower Ladies -->
            <ion-row>
              <ion-col size="12" class="section-title">Flower Ladies</ion-col>
              <ion-col size="12" class="center">
                <p>Franzies Antonette Villarta</p>
                <p>Andrea Ibaos</p>
                <p>Jamela Tolentino</p>
              </ion-col>
            </ion-row>

            <!-- Bearers -->
            <ion-row>
              <ion-col size="12" class="section-title">Ring Bearer</ion-col>
              <ion-col size="12" class="center">
                <p>Tala Lucille Getubig</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="section-title">Bible Bearer</ion-col>
              <ion-col size="12" class="center">
                <p>Sebastian Leonardo</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="section-title">Coin Bearer</ion-col>
              <ion-col size="12" class="center">
                <p>Fawwaz Leonardo</p>
              </ion-col>
            </ion-row>
            <!-- Sponsors 2 -->
            <ion-row>
              <ion-col size="12" class="section-title">Cord Sponsors</ion-col>
              <ion-col size="12" class="center">
                <p>Chryslyn Therese Peralta–Quijano</p>
                <p>Maxine Therese Peralta</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="section-title">Candle Sponsors</ion-col>
              <ion-col size="12" class="center">
                <p>Gamaliel Berdin</p>
                <p>Aya Berdin</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="section-title">Veil Sponsors</ion-col>
              <ion-col size="12" class="center">
                <p>Joie Ann Ragel</p>
                <p>GC Pillena</p>
              </ion-col>
            </ion-row>

          </div>

        </ion-card-content>

      </ion-card>

      <!-- Other Info Card -->
      <ion-card>
        <ion-card-header>
          <p>Please don’t be late! hehe
          </p>
          <ion-card-title>Schedule</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>3:00 PM</strong> - Ceremony</p>
          <p><strong>5:00 PM</strong> - Dinner Reception</p>
          <p><strong>7:00 PM</strong> - Dance & Entertainment</p>
        </ion-card-content>
      </ion-card>




      <ion-card>
        <ion-card-header>
          <p>
            We’re so grateful for your love and support! Since this is a destination wedding, we kindly request cash
            gifts to make travel easier. Your presence is the greatest gift, and we can’t wait to celebrate with you!
          </p>
          <ion-card-title>Gifts</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          INPUT QR CODE
        </ion-card-content>
      </ion-card>


      <!-- <ion-card class="hotel-card">
        <img src="https://www.waterfronthotels.com.ph/wp-content/uploads/2018/04/Grand-Lobby-elevator-landing.jpg"
          alt="Waterfront Insular Hotel" />

        <ion-card-header>
          <ion-item lines="none" class="card-header-item">
            <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            <a href="http://www.waterfronthotels.com.ph/waterfront/waterfront-insular-hotel-davao/" target="_blank"
              class="hotel-link">
              Waterfront Insular Hotel Davao
            </a>
          </ion-item>
          <ion-card-title class="mt-2">Stay Here!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>
            We highly recommend you to stay at Waterfront Insular! Just message us so we can give you the room rate discount process.
          </p>
        </ion-card-content>
      </ion-card> -->

      <ion-card class="hotel-card">

        <ion-card-header>
          <ion-card-title>Wedding Map</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div id="map" class="map-container"></div>
        </ion-card-content>

      </ion-card>


      <ion-card>
        <ion-card-header>
          <p>
            It's easy to roam around the city! Grab and Taxi are available. If you want to rent a car, just let us know
            so we can help you out!
          </p>
          <ion-card-title>Transportation</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>



    </div>
  </ion-content>

  <div class="sticky-rsvp">
    <ion-card>
      <ion-card-content>
        <p>
          Save the date and celebrate with us.
        </p>
        <ion-button expand="block" fill="outline" (click)="rsvp()" routerLink="/rsvp">
          RSVP Now
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</div>