.rsvp-background {
    --background: #f2f2f2;
}

.rsvp-container {
    height: 100%;
}

// .rsvp-card {
//     width: 100%;
//     max-width: 400px;
//     padding: 1rem;
// }

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.swiper-progressbar {
    --swiper-pagination-color: #fddf7d;

}

ion-avatar {
    width: 100px;
    height: 100px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 18px;
}

ion-button {
    // --background: #fddf7d;
    // --border-color: #fddf7d;
    // --background-activated: #f7d04e;

    // --color-activated: #e91e63;
    // --color: #e91e63

    --border-color: #000;
    --background-activated: #000;

    --color-activated: #fff;
    --color: #000
}

.lottie-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.yes {
    --background: #93e9be;
    color: rgba(255, 255, 255, 0.88);
}


.no {
    --background: #c5000f;
    color: white;

}