.rsvp-background {
    --background: #f2f2f2;
}

.rsvp-container {
    height: 100%;
}

// .rsvp-card {
//     width: 100%;
//     max-width: 400px;
//     padding: 1rem;
// }

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.swiper-progressbar {
    --swiper-pagination-color: #fddf7d;

}

ion-avatar {
    width: 100px;
    height: 100px;
}
.thankyou-slide {
  height: 100vh; /* full screen height */
  width: 100vw; /* full width */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2; /* optional background */
}

.thankyou-card {
  width: 100%;
  height: 100%;
  max-width: none; /* remove default limit */
  margin: 0;
  border-radius: 0; /* edge-to-edge look */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lottie-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    padding: 10px;
    width: 300px; /* make logo large */
    max-width: 60vw;
    height: auto;
    object-fit: contain;
  }

  p {
    font-size: 18px;
    color: #444;
    margin-top: 10px;
  }



}

ion-button {

    --border-color: #000;
    --background-activated: #000;

    --color-activated: #fff;
    --color: #000
}



.yes {
    --background: #93e9be;
    color: rgba(255, 255, 255, 0.88);
}


.no {
    --background: #c5000f;
    color: white;

}